# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AsteraX.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Gregory\Desktop\Git\AsteraX\AsteraX\.idea\.idea.AsteraX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
